html, body,main,nav {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
nav {
  border: 2px solid red;
  position: absolute;
  width: 100px;
  height: 330px;
}
main {
  border: 2px solid black;
  padding: 2px;
  margin-left: 101px;
  height: 330px;
}
body {
  margin: 0 auto;
  width: 80%;
  position: relative;
}
