body, html, div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main {
  height: 10vh;
  width: 80%;
  display: flex;
}
.main div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  border-bottom: 3px solid darkgray;
  font-size: 4vw;
  cursor: pointer;
}
.main div:hover {
  border-bottom-color: rgb(0, 142, 203);
}
