body, html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 80%;
  border: 2px solid black;
}
div {
  margin: 0 auto;
  background-color: red;
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
.second {
  position: relative;
  top: 20px;
  left: 30px;
}
