html, div, body, img, h1, header {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 50vw;
  height: 30vw;
  overflow: hidden;
  border-radius: 3px;
  border: 2px solid rgb(150, 150, 150);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
div:hover img{
  width: 60vw;
}
div:hover ~ .header1 {
  left: -2px;
}
div:hover ~ .header2 {
  right: -2px;
}
div:hover ~ header {
  animation-name: styl;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
}
@keyframes styl {
  0%{background-color: rgb(221, 132, 0);}
  100% { background-color: rgb(249, 169, 75);}
}
img {
  width: 0vw;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}
header {
  height: 100vh;
  width: 10vw;
  position: fixed;
  top: 0;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
  border: 1px solid black;
  border-radius: 3px;
}
.header1 {
  left: -10vw;
}
.header2 {
  right: -10vw;
}
